/* Основной цвет нашего проекта */
:root {
  --primary-color: #212121;
}
:root {
  --gray-collor: #757575;
}
:root {
  --white-collor: #ffffff;
}

/* ГЛАВНАЯ СТРАНИЦА */
body {
  font-family: Roboto, sans-serif;
}

/* body {
  color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
} */

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--primary-color);
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.logo-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.logotyp {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: var(--primary-color);
}
.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff; поставить позже то не видно на странице*/
}
.btn {
  background: #2196f3;
  color: #ffffff;
}
.headline {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);

  margin-top: 30px;
  margin-bottom: 10px;
}
.headline p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}
.text-aggregate {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}
.text-aggregate:last-child {
  margin-right: 0;
}
.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* color: #ffffff;  применить по окончанию*/
  text-align: center;
}
.name-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
}
.subject {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;

  margin-top: 94px;
  margin-bottom: 50px;
}
h2,
.our-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
}
h2,
.our-clients {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
  
  


.images h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-left: 24px;
  margin-bottom: 4px;
}
.images p {
  margin-left: 24px;
  margin-bottom: 20px;
}
/* ПОРТФОЛИО ПОЗИЦИОНИРОВАНИЕ  HEADER */
/* .logo-header .logotyp{
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
} */
.flex-header {
  display: flex;
  align-items: center;
}
.flex-header li {
  list-style-type: none;
}
.list {
  display: flex;
}
.site-nav.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.site-nav .list {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header-item {
  /* background-color: violet; */
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-item-second:last-child {
  margin-right: 0;
}
.header-item-second {
  /* background-color: yellowgreen; */
  justify-content: flex-end;
  margin-right: 50px;
}
.auth-nav {
  margin-left: auto;
  padding-left: 0px;
}
.logotyp {
  margin-right: 85px;
}
.logo-header .logotyp {
  padding: 25px 0;
}

/* ПОРТФОЛИО ПОЗИЦИОНИРОВАНИЕ  */
.continer {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flex-continier {
  background-color: brown;
}
.images {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding-top: 50px;
  padding-bottom: 94px;
  padding-left: 0;

  list-style-type: none;
}

.images .item {
  width: calc((100% - 60px) / 3);
  background-color: tomato;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.images ul {
  display: flex;
  flex-wrap: wrap;
}

/* ПОРТФОЛИО  */

.images p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--gray-collor);
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background: #f5f4fa;
}

.button-menu {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0px;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0px;
}

.main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-color);
}

.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.button:focus {
  color: #f5f4fa;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
li, */

/* HEADER */
.header a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.nav:hover {
  color: #2196f3;
}
.nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
}
.telefon {
  color: var(--gray-collor);
  padding-top: 32px;
  padding-bottom: 32px;
}
.telefon:hover {
  color: #2196f3;
}
.email {
  color: var(--gray-collor);
  padding-top: 32px;
  padding-bottom: 32px;
}
.email:hover {
  color: #2196f3;
}
/* FOOTER */
.logo-footer,
.logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-second {
  font-size: 26px;
  color: #ffffff;
}

.footer-nav {
  color: rgba(255, 255, 255, 0.6);
}

.footer-text {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.messenger {
  color: #ffffff;
}
.team-hover:hover {
  background: #f5f4fa;
}

/* FOOTER ПОЗИЦИОНИРОВАНИЕ */
.footer-content {
  display: flex;
  justify-content: space-between;
  background: #2f303a;
  height: 252px;
}
.footer-mess {
  display: flex;
}
.footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 24px; */

  color: #ffffff;
  text-decoration: none;
  /* background-color: wheat; */
  margin-right: 30px;
  margin-bottom: 60px;

  margin-top: 60px;

  /* background-color: #2196f3; */
}

.footer-messenger,
.footer-end {
  margin-top: 72px;
}
.footer-end {
  /* background-color: turquoise; */

  margin-right: 216px;
  margin-bottom: 94px;
}
.footer-messenger {
  /* background-color: tomato; */

  margin-right: 30px;
  margin-bottom: 100px;
}
.footer-mess {
  list-style-type: none;
}
.footer-text {
  margin-bottom: 20px;
}
.messenger {
  margin-right: 10px;
}

/* INDEX.HTML ПОЗИЦИОНИРОВАНИЕ MAIN */
.section.service {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: gray;
}
.btn-centr {
  width: 200px;
  height: 50px;
  background: #2196f3;

  color: var(--white-collor);
}
.section .elements {
  width: calc((100% - 90px) / 4);
}
.aggregate {
  display: flex;
  margin-top: 90px;
}

.bacground {
  display: flex;
  justify-content: center;

  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.applications {
  display: flex;
}

.applications .content-java {
  width: calc((100% - 60px) / 2);
  margin-right: 30px;
}
/* OUR_TEAM */
.continer .team {
}
.workers {
  display: flex;
}
.workers p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;

  color: #757575;
}
.continer .people {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
}
.people ul {
  display: flex;
  justify-content: space-around;
}
.people li {
  margin-right: 10px;
}


.regular-clients {
  display: flex;
}
.regular-clients{
  margin-bottom: 94px;
}
.svg{
  width: calc((100% - 150px ) / 6));
  margin-right: 30px;
}
.svg:last-child{
  margin-right: 0;
}
.footer{

  
}